    
    <style>
        
        .maintxt {position:relative;
                 
      }
        .maintxt > img, .overlay-text {
          position:absolute;
          image-rendering:auto;
          opacity: 1.0;
        }
        .row{
      height: 100%;
      margin: 10px;
      padding: 2px;
      width: 100%;
      background:black;
    }
  
        .overlay-text{
          margin-top:15%;
      text-align: center;
      color:  #EFEEF5;
        }
        .overlay-text h1{
          text-transform: uppercase;
      font-size: 3em;
      letter-spacing: 1px;
      text-align: center;
      text-shadow:black;
        }
  
        .overlay-text p{
          font-size: 20px;
      line-height: 1.5;
      margin: 20px auto;
      text-align: center;
      text-shadow: #fac031;
  
    }
        
        .menu{
      width: 100%;
      padding: 80px 0;
      margin-top:990px;
      display: grid;
  }
  .menu h1{
      font-size: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
  }
  
  .menu h1 span{
      color: #fac031;
      margin-left: 15px;
   
  }
  
  .menu h1 span::after{
      content: '';
      width: 100%;
      height: 2px;
      background: #fac031;
      position: static;
      bottom: 15px;
  }
  
  .menu .menu_box{
      width: 97%;
      margin: 0 auto;
      display: table-cell;
      -ms-grid-row-span: initial;
      grid-template: repeat(auto-fit,minmax(250px,1fr));
  }
     
  
  .menu .menu_box .menu_card{
      width: 325px;
      height: 480px;
      padding-top: 10px;
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .menu .menu_box .menu_card .menu_image{
      width: 300px;
      height: 245px;
      margin: 0 auto;
      overflow: hidden;
  }
  
  .menu .menu_box .menu_card .menu_image img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: 0.3s;
  }
  
  .menu .menu_box .menu_card .menu_image:hover img{
      transform: scale(1.1);
  }
  
  .menu .menu_box .menu_card .small_card{
      width: 45px;
      height: 45px;
      float: right;
      position: relative;
      top: -240px;
      right: -8px;
      opacity: 0;
      border-radius: 7px;
      transition: 0.3s;
  }
  
  .menu .menu_box .menu_card:hover .small_card{
      position: relative;
      top: -240px;
      right: 20px;
      opacity: 1;
  }
  
  .menu .menu_box .menu_card .small_card i{
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 50px;
      color: #000;
      cursor: pointer;
      text-shadow: 0 0 6px #000;
      transition: 0.2s;
  }
  
  .menu .menu_box .menu_card .small_card i:hover{
      color: #fac031;
  }
  
  .menu .menu_box .menu_card .menu_info h2{
      width: 60%;
      text-align: center;
      margin: 10px auto 10px auto;
      font-size: 25px;
      color: #fac031;
  }
  
  .menu .menu_box .menu_card .menu_info p{
      text-align: center;
      margin-top: 8px;
      line-height: 21px;
  }
  
  .menu .menu_box .menu_card .menu_info h3{
      text-align: center;
      margin-top: 10px;
  }
  
  .menu .menu_box .menu_card .menu_info .menu_icon{
      color: #fac031;
      text-align: center;
      margin: 10px 0 10px 0;
  }
  
  .menu .menu_box .menu_card .menu_info .menu_btn{
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
      background: #000;
      padding: 8px 10px;
      margin: 0 80px;
      transition: 0.3s;
  }
      </style>
       {%extends 'basic.html'%}
       {%block content%}
      <div class="container-fluid mt-3">
        <div class="row mx-auto">
                <div class="maintxt">
                    {% load static %}
                     <img src="{% static '/imagess/front.jpeg' %}" alt="home" class="img-responsive" width=100% height=50%>
                    <span class="overlay-text">
                        <h1>WELCOME TO VISION CAFETERIA</h1>
                        <p>We are here to give you the best experience</p>
                    </span>
                </div>
            </div>
        </div>
    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>
{%load static%}
{% for i in item|slice:"0:" %}
        <div class="menu_box">
            <div class="menu_card">

                <div class="menu_image">
                    <img src="/media/{{i.image}}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>{{i.item_name}}</h2>
                    <p>
                        <!-- Have some 'HOT DRINK'  -->
                    </p>
                    <h3></h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="{{i.links}}" class="menu_btn">MORE</a>

                    </div>
                    
                      
            </div>
            <div class="menu_box">
                {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}   
                </div>
                {% endif%}
                   {% endfor %} 
             
        </div>

    </div>
    
    </div>
    {%endblock%}
   
</body>
</html>